# ==== Clock input ====
NET "CLK" LOC = U23 | IOSTANDARD = LVCMOS25;
NET "CLK" TNM_NET = "GRPclkin66";
TIMESPEC "TSclkin66" = PERIOD "GRPclkin66" 15.00 ns;

# ==== LEDs ====
NET "leds(0)" LOC = AC22;
NET "leds(1)" LOC = AC24;
NET "leds(2)" LOC = AE22;
NET "leds(3)" LOC = AE23;
NET "leds(4)" LOC = AB23;
NET "leds(5)" LOC = AG23;
NET "leds(6)" LOC = AE24;
NET "leds(7)" LOC = AD24;

NET "leds(*)" IOSTANDARD = LVCMOS25 | SLEW = SLOW | DRIVE = 2;

# ==== User Switch ====
NET "sw(0)" LOC = D22;
NET "sw(1)" LOC = C22;
NET "sw(2)" LOC = L21;
NET "sw(3)" LOC = L20;
NET "sw(4)" LOC = C18;
NET "sw(5)" LOC = B18;
NET "sw(6)" LOC = K22;
NET "sw(7)" LOC = K21;
   
NET "sw(*)" IOSTANDARD = LVCMOS25 | SLEW = SLOW | DRIVE = 2;

# ==== User pushbutton ====
NET "bt(0)" LOC = G26;
NET "bt(1)" LOC = G17;
NET "bt(2)" LOC = A19;
NET "bt(3)" LOC = A18;
NET "bt(4)" LOC = H17;

NET "bt(*)" IOSTANDARD = LVCMOS25 | SLEW = SLOW | DRIVE = 2;
NET "BT<2>" CLOCK_DEDICATED_ROUTE = FALSE;
